<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="true" scanPeriod="60 seconds" debug="false">
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>
    <contextName>logback</contextName>
    <!--定义日志文件的存储地址 勿在 LogBack 的配置中使用相对路径-->
    <!--<property name="log.path" value="d:\\log\\sea\\api"/>-->
    <!--从properties中读取配置-->
    <!--<property name="log.path" value="${log.path}"/>-->
    <!--从yml文件中读取配置-->
    <springProperty scope="context" name="log.path" source="log.path"/>

    <!--生产日志输出格式-->
    <property name="pattern" value="%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{5} - %msg%n"/>
    <!--研发日志输出格式-->
    <!--<property name="pattern"  value="%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{0}  %class-%method[%line] - %msg%n"/>-->

    <!--输出到控制台-->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>TRACE</level>
        </filter>
        <encoder>
            <!--<pattern>%d %p (%file:%line\)- %m%n</pattern>-->
            <pattern>${FILE_LOG_PATTERN}</pattern>
            <!--<charset>UTF-8</charset>-->
        </encoder>
    </appender>

    <!--输出到文件-->
    <appender name="warn" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>WARN</level>
        </filter>
        <file>${log.path}\\warn.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log.path}/history/%d{yyyy-MM-dd}/warn.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>365</maxHistory>
            <totalSizeCap>100MB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>${pattern}</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <!--输出到文件-->
    <appender name="error" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
        <file>${log.path}\\error.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log.path}/history/%d{yyyy-MM-dd}/error.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>365</maxHistory>
            <totalSizeCap>100MB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>${pattern}</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <!--系统日志-->
    <appender name="system" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>TRACE</level>
        </filter>
        <file>${log.path}\\system.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log.path}/history/%d{yyyy-MM-dd}/system.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>365</maxHistory>
            <totalSizeCap>100MB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>${pattern}</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <!--接口日志-->
    <appender name="protocol" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>TRACE</level>
        </filter>
        <file>${log.path}\\protocol.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log.path}/history/%d{yyyy-MM-dd}/protocol.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>365</maxHistory>
            <totalSizeCap>100MB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>${pattern}</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <!--数据库日志-->
    <appender name="db" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>TRACE</level>
        </filter>
        <file>${log.path}\\db.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log.path}/history/%d{yyyy-MM-dd}/db.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>365</maxHistory>
            <totalSizeCap>100MB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>${pattern}</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <!--业务日志-->
    <appender name="business" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>TRACE</level>
        </filter>
        <file>${log.path}\\business.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log.path}/history/%d{yyyy-MM-dd}/business.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>365</maxHistory>
            <totalSizeCap>100MB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>${pattern}</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <!--微信交互日志-->
    <appender name="weixin" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>TRACE</level>
        </filter>
        <file>${log.path}/weixin.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log.path}/history/%d{yyyy-MM-dd}/weixin.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>365</maxHistory>
            <totalSizeCap>100MB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>${pattern}</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <!--华为交互-->
    <appender name="huawei" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>TRACE</level>
        </filter>
        <file>${log.path}/huawei.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log.path}/history/%d{yyyy-MM-dd}/huawei.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>365</maxHistory>
            <totalSizeCap>100MB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>${pattern}</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>
    <root level="INFO">
        <appender-ref ref="console"/>
        <appender-ref ref="warn"/>
        <appender-ref ref="error"/>
    </root>

    <logger name="system" level="TRACE" additivity="false">
        <appender-ref ref="system"/>
        <appender-ref ref="console"/>
        <appender-ref ref="warn"/>
        <appender-ref ref="error"/>
    </logger>

    <logger name="protocol" level="DEBUG" additivity="false">
        <appender-ref ref="protocol"/>
        <appender-ref ref="console"/>
        <appender-ref ref="warn"/>
        <appender-ref ref="error"/>
    </logger>

    <logger name="db" level="DEBUG" additivity="false">
        <appender-ref ref="db"/>
        <appender-ref ref="console"/>
        <appender-ref ref="warn"/>
        <appender-ref ref="error"/>
    </logger>

    <logger name="business" level="TRACE" additivity="false">
        <appender-ref ref="business"/>
        <appender-ref ref="console"/>
        <appender-ref ref="warn"/>
        <appender-ref ref="error"/>
    </logger>

    <logger name="org.mybatis" level="INFO" additivity="false">
        <appender-ref ref="business"/>
        <appender-ref ref="console"/>
        <appender-ref ref="warn"/>
        <appender-ref ref="error"/>
    </logger>

    <logger name="druid" level="TRACE" additivity="false">
        <appender-ref ref="db"/>
        <appender-ref ref="console"/>
        <appender-ref ref="warn"/>
        <appender-ref ref="error"/>
    </logger>

    <logger name="com.alibaba.druid" level="TRACE" additivity="false">
        <appender-ref ref="db"/>
        <appender-ref ref="console"/>
        <appender-ref ref="warn"/>
        <appender-ref ref="error"/>
    </logger>

    <logger name="com.alibaba.druid.pool.PreparedStatementPool" level="INFO" additivity="false">
        <appender-ref ref="db"/>
        <appender-ref ref="console"/>
        <appender-ref ref="warn"/>
        <appender-ref ref="error"/>
    </logger>


    <logger name="weixin" level="TRACE" additivity="false">
        <appender-ref ref="weixin"/>
        <appender-ref ref="console"/>
        <appender-ref ref="warn"/>
        <appender-ref ref="error"/>
    </logger>

    <logger name="huawei" level="TRACE" additivity="false">
        <appender-ref ref="huawei"/>
        <appender-ref ref="console"/>
        <appender-ref ref="warn"/>
        <appender-ref ref="error"/>
    </logger>
    <logger name="org.springframework.boot.actuate.endpoint.web.servlet.WebMvcEndpointHandlerMapping" level="INFO"
            additivity="false">
        <appender-ref ref="system"/>
        <appender-ref ref="console"/>
        <appender-ref ref="warn"/>
        <appender-ref ref="error"/>
    </logger>

</configuration>
